.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.container {
    margin: 2rem 0;
}

@media (max-width: 1280px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
    .container {
        margin: 1rem;
    }
}