.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 2rem 0;
}

.center {
    border: 1px solid var(--abu);
    border-radius: 1rem;
    box-shadow: var(--shadow);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    
    gap: 1rem;
}

.input {
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid var(--abu);
    border-radius: 0.5rem;
}

.inputGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputItem {
    border-radius: 1rem 0 0 1rem;
    flex-grow: 1;
    margin-right: 4px;
}

.inputLabel {
    font-weight: 200;
    border-radius: 0 1rem 1rem 0;
}

.inputOutline:focus {
    outline: 1px solid var(--putih);
}


textarea {
    resize: none;
    padding-bottom: 4rem !important;
}

.input[type="button"]:active {
    border-color: var(--putih);
}