:root {
    --hitam: rgb(42, 43, 54);
    --putih: rgb(207, 240, 255);
    --abu: rgb(52, 53, 66);
    --pink: rgb(255, 142, 208);
    --kuning: rgb(255, 247, 172);
    --shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}

* {
    background-color: var(--hitam);
    color: var(--putih);
    font-family: 'SUSE';
}

@font-face {
    font-family: "SUSE";
    src: url("/SUSE.ttf");
}

#root {
    display: flex;
    justify-content: center;
}