.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.container {
    margin: 2rem 0;
}

.input {
    border: 1px solid var(--abu);
    border-radius: 0.5rem;
    width: 320px;
    padding: 1rem;
}

.input:focus {
    outline: 1px solid var(--putih);
}

@media (max-width: 1280px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
    .container {
        margin: 1rem;
    }
}